body{
    background: #F5F5F5;
}
img{
    max-width: 100%;
    height: auto;
}
.wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    padding: 20px 0;
}
.main{
    background: transparent;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}
#form-pendaftaran {
    margin: 0 auto;
    max-width: 350px;
}
#form-pendaftaran form{
    background: #fff;
    padding: 30px;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 1px 3px #e0e0e0;
}
.head-title {
    margin-bottom: 20px;
    overflow: hidden;
    color: #757575;
}
.head-title h3 {
    font-weight: bold;
    margin-top: 0px;
}
.head-title img {
    float: left;
    width: 160px;
}
.small-title:before {
    /*content: " ";*/
    width: 60px;
    height: 4px;
    background: #f35325;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    bottom: -10px;
}
.small-title {
    font-weight: bold;
    color: #f35325;
    text-transform: uppercase;
    position: relative;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.kotak-gambar {
    height: 140px;
    text-align: center;
    line-height: 140px;
    color: rgb(243, 93, 118);
    font-weight: bold;
    background: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
}
#ktm_image {
    width: 100%;
    height: 100%;
}
.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.64);
    z-index: 9;
    text-align: center;
    font-size: 50px;
    display: table;
    color: #fff;
    display: none;
}
.loading span {
    display: table-cell;
    vertical-align: middle;
}
