body.login-page{
    background: #649dca;
    display: table;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}
#login-wrapper{
    display: table-cell;
    vertical-align: middle;
}
#login-wrapper form{
    background: #fff;
    padding: 30px;
    border-radius: 3px;
    max-width: 380px;
    margin: 0 auto;
    color: #6f6f6f;
}
.login-page .form-control{
    border-radius: 2px;
    border: 2px solid #EAEEF1;
    box-shadow: 0 0 0 !important;
    padding: 10px 15px;
    height: auto;
    background: #EAEEF1;
}
.login-page .btn.btn-primary{
    background: #649dca;
    border-color: #649dca;
    border-radius: 3px;
}
